Service References/Omrin/HHAMiddleTier.Dto.Kalender.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HHAMiddleTier.Dto.Kalender" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HHAMiddleTier.Dto.Kalender" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="KalenderJarenResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Jaren" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KalenderJarenResult" nillable="true" type="tns:KalenderJarenResult" />
  <xs:complexType name="KalenderObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Groepen" nillable="true" type="tns:ArrayOfKalenderGroepObject" />
      <xs:element minOccurs="0" name="Jaar" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KalenderObject" nillable="true" type="tns:KalenderObject" />
  <xs:complexType name="ArrayOfKalenderGroepObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KalenderGroepObject" nillable="true" type="tns:KalenderGroepObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKalenderGroepObject" nillable="true" type="tns:ArrayOfKalenderGroepObject" />
  <xs:complexType name="KalenderGroepObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afbeelding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datums" nillable="true" type="tns:ArrayOfKalenderGroepDatum" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijvging" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="info2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KalenderGroepObject" nillable="true" type="tns:KalenderGroepObject" />
  <xs:complexType name="ArrayOfKalenderGroepDatum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KalenderGroepDatum" nillable="true" type="tns:KalenderGroepDatum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKalenderGroepDatum" nillable="true" type="tns:ArrayOfKalenderGroepDatum" />
  <xs:complexType name="KalenderGroepDatum">
    <xs:sequence>
      <xs:element minOccurs="0" name="DagSoort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KalenderGroepDatum" nillable="true" type="tns:KalenderGroepDatum" />
</xs:schema>