Service References/Omrin/HHAMiddleTier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HHAMiddleTier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HHAMiddleTier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AansluitingValidatie">
    <xs:sequence>
      <xs:element minOccurs="0" name="AansluitingID" type="xs:int" />
      <xs:element minOccurs="0" name="Huistnummer" type="xs:int" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:AansluitingStatus" />
      <xs:element minOccurs="0" name="Straat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Toevoeging" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Woonplaats" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AansluitingValidatie" nillable="true" type="tns:AansluitingValidatie" />
  <xs:simpleType name="AansluitingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown" />
      <xs:enumeration value="valid" />
      <xs:enumeration value="notvalid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AansluitingStatus" nillable="true" type="tns:AansluitingStatus" />
</xs:schema>