Service References/Omrin/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/HHAMiddleTier" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/HHAMiddleTier.Dto.Kalender" />
  <xs:element name="ValidateAansluiting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Huisnummer" type="xs:int" />
        <xs:element minOccurs="0" name="Toevoeging" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAansluitingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HHAMiddleTier" minOccurs="0" name="ValidateAansluitingResult" nillable="true" type="q1:AansluitingValidatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidAdres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Huisnummer" type="xs:int" />
        <xs:element minOccurs="0" name="Toevoeging" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidAdresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidAdresResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKalenderJaren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aansluitingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKalenderJarenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HHAMiddleTier.Dto.Kalender" minOccurs="0" name="GetKalenderJarenResult" nillable="true" type="q2:KalenderJarenResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKalender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aansluitingID" type="xs:int" />
        <xs:element minOccurs="0" name="jaar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKalenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HHAMiddleTier.Dto.Kalender" minOccurs="0" name="GetKalenderResult" nillable="true" type="q3:KalenderObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>